.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(3px);
  background-color: #00000070;
}

.main {
  width: 80%;
  max-width: 400px;
  height: 30%;
  background-color: #0f172a;
  color: #fff;
  overflow-y: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border: 1px solid #1e293b;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchContainer {
  /* margin-bottom: 20px; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchIcon {
  width: 20px;
  height: 20px;
  color: #4b5563;
}

.input {
  background: #374151;
  border: none;
  width: 100%;
  color: #fff;
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 400px;
  position: relative;
}


.input::placeholder {
  font-family: 'IBM Plex Sans';
  color: #374151;
}

.input:focus {
  outline: none;
}

.button {
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  border: none;
  background: transparent;
  color: #e5e7eb;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button:hover {
  background-color: #1f2937;
}

.icon {
  height: 15px;
  width: 15px;
  color: #d1d5db;
}

.pagesHeader {
  margin-bottom: 0px;
  font-size: 0.8rem;
  margin-top: 30px;
  padding: 0 10px;
  color: #9ca3af;
}


.searchContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  background-color: #e5e5e5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.item-container 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.searched-box {
  position: absolute;
  background-color: #374151;
  height: 200px;
  overflow: scroll;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 404px;
  top: 32px;
  border-top: 1px solid #2a374d;
}